body {
  text-align: center;
  background-color: antiquewhite;
  justify-content: center;
  display: flex;
}

.heading{
  text-align: center;
  justify-content: center;
}

Form{
  text-align: left;
  width: 50vw;
  padding: 0.1em;
}


.dashboard{
  width: 60vw;
  text-align: center;
  justify-content: center;
}
.logout{
  margin-left: 12em;
}

